<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=Abu-Ghaith\AMSSQLSERVER;Database=DVLD;User Id=sa;Password=isa123456;"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString"
			 connectionString="Server=Abu-Ghaith\AMSSQLSERVER;Database=DVLD;User Id=sa;Password=isa123456;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>